html {
    font-family: 'Anton', sans-serif;
    font-family: 'Pacifico', cursive;
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    background-color: #f5f5eb;
}

.meme {
    display: block;
    background-size: cover;
    margin-bottom: 10px;
    width: 35vh;
}

.meme-1 {
    background-image: url(./asserts/img/meme_1.jpg);
}

.meme-2 {
    background-image: url(./asserts/img/meme_2.jpg);
}

.meme-3 {
    background-image: url(./asserts/img/meme_3.jpg);
}

.meme-4 {
    background-image: url(./asserts/img/meme_4.jpg);
}

.meme-5 {
    background-image: url(./asserts/img/meme_5.jpg);
}



.wrapper {
    max-width: 50%;
    margin: 0 auto;
}

.tab input {
    width: 0;
    height: 0;
}

.tab-content {
    display: flex;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    height: 0;
    transition: 0.7s;
}

.tab {
    border-top: 1px solid grey;
}

.tab-title {
    padding: 10px;
    display: block;
    font-weight: bold;
    color: #0059d9;
    cursor: pointer;
}
.icon {
    content: url(../cssBayan/asserts/svg/AddSimbol.svg);
    opacity: 0;
    transition: 0.5s;
    float: right;
}

.wrapper:hover .tab-title {
    color: #000;
}

.wrapper:hover .icon {
    opacity: 1;
}

.tab :checked+.tab-title {
    color: #000;
}

.tab :checked ~ .tab-content,
.tab-title:hover ~ .tab-content,
.tab-content:hover {
    width: 100%;
    height: 25vh;
    opacity: 1;
}

.tab :checked+.tab-title .icon {
    rotate: 45deg;
}